<div class="hero-section" role="region">
    <div class="container">
        <h2>
            NYC School Quality Dashboard
        </h2>

        <p> Explore multiple years of school data. Student demographics,framework scores, achievement metrics, test resutls and more. </p>

        <br/>
        <br/>

        <div class="home-search-bar-controls" role="search">
            <% include _search-bar-controls %>
        </div>
    </div>
</div>
